ul{
    display: flex;
    margin: 2px;
    padding: 0;
    gap: 1px;
    margin-top: 150px;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color:black;
}
 ul li{
    list-style-type: none;
    width: 400px;
    height: 210px;
    background-color:lightslategray;
    padding:10px;
    display: flex;
    align-items:first baseline;
    font-weight: bold;
    color: white;
    justify-content:space-around;
    border-radius: 20px;
    flex-wrap: wrap;   
}

*{
    box-sizing:border-box; 
    background-color:gray;
}

.image{
    margin-top: 2px;
    margin-left: 5px;
    
    
}
.people li{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.people li .name {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background-color: transparent;
}

 .people img{
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
 }
